---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

import { Image } from "astro:assets"
import myImage from "../../public/crop_DSC_1565.png"
import gwImage from "/guidewire_software_logo.jfif"
import ibmImage from "../../public/ibm.png"
import clearviewImage from "/clearview.jfif"
import pccertImage from "../../public/pccert.png"
---

<Layout title="zachery lewis. - about">
	<main>
		<Header/>
		<div class="main-area">
			<Image id="aboutme-intro" src={myImage} alt="Zachery Lewis"/>
			<div class="writeup">
				<h1>My name is Zachery Lewis and I'm a Software Engineer.</h1>
				<p>I completed my Bachelor of Science in Software Engineering at University of New Brunswick in 2021. During my years at UNB, I earned vauable practical experience for three semesters at IBM Canada and one at Clearview, which earned me a Co-op Designation on my transcript. </p>
				<p>After graduating, I started as a Technical Support Engineer at Guidewire Inc. Since then, I've transitioned to a Platform Support Engineer. Quick to learn and eager to develop my skills, I am open to trying out different roles.</p>
			</div>
		</div>
		<div class="work-experience">
			<h1>Work Experience</h1>
			<div class="workplace">
				<Image class="workplace-img" src={gwImage} alt="Guidewire Inc." width={200} height={200}></Image>
				<div class="workspace-writeup">
					<h2>Platform Support Engineer</h2>
					<h3>Guidewire Inc.</h3>
					<h4>June 2021 - Present</h4>
					<p>
						I've been at Guidewire for over two years now. I've spent a lot of time working with customers, keeping frequent communication and documenting solutions.
						I've worked in high stress scenarios, joining the escalation team during on-call shifts to perform platform-related tasks. It's important to ensure the customer makes a swift recovery during an outage.
					</p>
					<p>
						I have a certification for the Guidewire InsuranceSuite product, PolicyCenter. I work with Guidewire's proprietary coding and scripting language, Gosu to suggest solutions for customers with custom PolicyCenter configurations.
						I am a KCS Publisher, I've written and published knowledge articles concerning case remediation and best practices for standard procedures.
					</p>
				</div>
			</div>
			<div class="workplace">
				<Image class="workplace-img" src={ibmImage} alt="Guidewire Inc." width={200} height={200}></Image>
				<div class="workspace-writeup">
					<h2>QA/Automation Co-op Student</h2>
					<h3>IBM Canada</h3>
					<h4>September 2018 - December 2018 & May 2019 - December 2019</h4>
					<p>
						At IBM Canada, I did QA and automation testing on IBM's enterprise security product, QRadar. I practiced clean coding techniques and attention to detail to replace their Java Selenium automation. The new automation used Spock testing framework and Apache Groovy language.
					</p>
				</div>
			</div>
			<div class="workplace">
				<Image class="workplace-img" src={clearviewImage} alt="Guidewire Inc." width={200} height={200}></Image>
				<div class="workspace-writeup">
					<h2>QA Co-op Student</h2>
					<h3>Clearview Restaurant Management Software</h3>
					<h4>January 2018 - April 2018</h4>
					<p>
						During my time at Clearview (the company was called Quick Service Software at the time), I implemented clean coding techniques to write automation tests in Java Selenium, while also writing and executing test plans for manual testing. 
						This work required out-of-the-box thinking and keen attention to detail to pick up on software errors that may have been missed by the developers.
					</p>
				</div>
			</div>
		</div>
		<div class="work-experience">
			<h1>Certifications</h1>
			<div class="workplace">
				<Image class="workplace-img" src={pccertImage} alt="Guidewire Inc." width={200} height={226}></Image>
				<div class="workspace-writeup">
					<h2>PolicyCenter Certified</h2>
					<h3>Professional Configuration Support</h3>
				</div>
			</div>
				
		</div>
	</main>
</Layout>

<style>
	.workplace-img {
		margin-right: 66px;
		border-radius: 25px;
		margin-bottom: auto;
		height: inherit;
	}
	i {
		margin-left: 10px;
	}
	.workplace-writeup {
		display: flex;
		flex-direction: column;
	}
	#aboutme-intro {
		width: 40vw;
		height: auto;
  		border-radius: 25px;
		padding: 10px;
	}
	.main-area {
		display: flex;
		background-color: #384552;
		border-radius: 25px;
		flex-direction: row;
		margin-bottom: 5vw;
		align-items: center;
	}
	.writeup {
		padding: 10vw;
	}
	.work-experience {
		background-color: #384552;
		border-radius: 25px;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 5vw;
		padding-top: 66px;
	}
	.workplace {
		width: 60vw;
		padding-bottom: 66px;
		flex-direction: row;
		display: flex;
	}
	h1 {
		color: #FFDFF7;
		text-decoration: none;
		font-size: 36px;
		font-weight: 400;
		margin-top: 0px;
	}
	h2 {
		color: #a3e6d7;
		font-weight: 400;
		margin: 0px;
	}
	h3 { 
		font-weight: 400;
		margin: 0px;
		color: #FFDFF7;
	}
	h4 { 
		font-weight: 400;
		margin: 0px;
		color: #FFDFF7;
		opacity: 75%;
	}
	
	@media screen and (max-width: 1000px) {
		h3 {
			font-size: 16px;
			text-align: center;
		}
		p {
			font-size: 16px;
			text-align: justify;
		}
		h2 {
			font-size: 20px;
			text-align: center;
		}
		h4 { 
			font-weight: 400;
			margin: 0px;
			color: #FFDFF7;
			font-size: 16px;
			text-align: center;
		}
		.workplace {
			width: 80vw;
			padding-bottom: 66px;
			flex-direction: column;
			display: flex;
			align-items:center;
		}
		.workplace-img {
			margin-right: 0px;
			border-radius: 25px;
    		margin-bottom: 1.5em;
		}
		.workplace-writeup {
			display: flex;
			flex-direction: column;
		}
		#aboutme-intro {
			width: 90vw;
			height: auto;
			border-radius: 10px;
			padding: 0px;
		}
		.writeup {
			padding: 8vw;
		}
		.main-area {
			display: flex;
			background-color: #384552;
			border-radius: 10px;
			flex-direction: row;
			margin-bottom: 5vw;
			align-items: center;
			flex-direction: column-reverse;
		}
	}
</style>
